.carrito-lg{
    padding: 0 !important;
    margin: 0 auto !important;
    align-items: center !important;
    display: flex;
}
.fa-shopping-cart{
    position: relative;
    cursor: pointer;
}
.cart_num{
    position: absolute;
    top: 14px;
    left: none;
    background: red;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 2px;
}
.container-cart-list{
    position: fixed;
    right: 0;
    top: 136px;
    background-color: silver;
    height: 100%;
    width: 40%;
}
.productCartList{
    height: 80%;
    overflow-y: auto;
    padding: 0 10px;
}
.container-closeCartList{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
.closeCartList{
    background: rgb(7, 7, 7);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 2px;
}
@media screen and (min-width: 992px){
    .cart_num{
        position: absolute;
        top: 80px;
        background: red;
    }
}