body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E7E7E7;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container-body{
  min-height: 100vh;
}
.container-body-pages{
  height: 600px;
}
.detail-loading{
  height: 800px;
}
.container-body-detail{
  height: auto;
}
/* rutas */
.link-page>a{
  text-decoration: none !important;
  font-size: 14px;
}
.link-page>a>i{
  font-size: 8px;
  padding: 2px;
}
