.slider{
    display: flex;
    max-width: 100%;
    width: 100%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}
.slider::-webkit-scrollbar{
    background-color: rgb(189, 189, 189);
    height: 10px;
}
.slider::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(rgba(60, 60, 60, 0.7), rgb(84, 84, 84));
    border-radius: 10px;
}
.slider{
    width: 100%;
    object-fit: cover;
    scroll-snap-align: center;
}
.card{
    width: 16rem;
    margin: 10px;
    height: 250px;
    overflow: hidden;
}
.card-body{
    height: 60px;
}
.card-img-top{
    height: 150px;
    padding-top: 5px;
    margin: 0 auto;
}
.price{
    font-size: 1rem;
    font-weight: 700;
    margin: 10px;
}
.card-title{
    font-size: 1.1rem; 
}
.card-link-detail{
    text-decoration: none;
    margin: 0 auto;
    color: black;
}
.title-products-home{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.card-title-offer{
    
    color: darkgreen;
}
.card-footer{
    height: 100px;
    margin: 0 auto;
    background-color: none;
}
.card-footer>{
    display: inline-flex;
}